.image {
    /* height: 20vh; */
    width: 15vw;
    /* display:inline-block; */
}

.image:hover {
    /* width: 25vw; */
    border: 5px solid;
    margin: -5px;
    border-color: gray;
}

.image.selection {
    border: 5px solid;
    margin: -5px;
    border-color: yellow;
}